
body{
    background-color: #f8f6f0;
}

p{
    font-family: "quasimoda", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    color: #034148;
    font-size: 20px;
}

div{
    width: 53%;
    margin: 0;
    padding-left: 1%;
    float:left;
}

#instruction{
    width: 30%;
    margin: 0;
    padding-left: 1%;
    float:left;
}

#defaultCanvas0{
    position: absolute;
    left: -1%;
    top: 100px;

}







